/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&family=Roboto:wght@900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
}

.home-section{
    background-image: url(../images/home.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.overlay {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100vh;
}
.navigation-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	background-color: #0606063b;
	min-height: 15vh;
	position: fixed;
	width: 100%;
}
.logo{
    color: white;
}
.nav-items ul{
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav-items ul li{}
.nav-items ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 12px;
    display: inline-block;
    margin-right: 2px;
    -webkit-transition: all .3s ease-in .1s;
    -o-transition: all .3s ease-in .1s;
    transition: all .3s ease-in .1s;
}
.nav-items ul li a:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
.social-icon span i{
    color: white;
    padding: 5px;
}
.social-icon span i:last-child{
    padding-right: 0;
}
.content-section{
    width: 100%;
    height: 100vh;
    position: relative;
}
.home-content {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    color: white;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}
.home-content h1 {
	font-size: 65px;
	letter-spacing: 5px;
	text-transform: capitalize;
}
.home-content h1 span{
    color: gray;
}
.home-content h5 {
	text-transform: capitalize;
	font-size: 22px;
	letter-spacing: 3px;
}
.about-me-section{
    padding: 160px 255px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
}
.about-info{
    width: 70%;
}
.about-info h2 {
	text-transform: uppercase;
	font-size: 35px;
    position: relative;
}
.about-info h2::before {
	content: "";
	position: absolute;
	left: -111px;
	top: 17px;
	width: 78px;
	height: 3px;
	background-color: #eeb255;
}
.about-info p {
	padding-right: 70px;
	font-size: 18px;
	font-weight: normal;
	color: #3a3a3a;
}
.about-info p span{
    background-color: #eeb255;
    color: white;
}
.about-info .btn {
    float: right;
    margin-top: 22px;
}
.about-img{
    width: 30%;
}
.about-img img {
	width: 100%;
	border: 7px solid #c6c3c3;
}
.btn a {
    background-color: white;
    -webkit-box-shadow: 5px 3px 6px #919191;
            box-shadow: 5px 3px 6px #919191;
    padding: 12px 30px;
    color: #c5c3c3;
}
.quote-section {
	width: 100%;
	background-color: #c5c3c3;
	padding: 100px 0;
	padding-bottom: 0;
}
.quote-info {
	width: auto;
	margin-left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	text-align: center;
}
.quote-info p {
	margin-top: -226px;
	padding-bottom: 100px;
}
.quote-heading {
	margin: auto;
	display: block;
	position: relative;
	width: 35%;
}
.quote-heading h2 {
	font-size: 37px;
	text-transform: uppercase;
	color: #3e3d3d;
	position: absolute;
	left: 0;
	top: 124px;
	z-index: 3;
}
.quote-heading h1 {
	font-size: 440px;
    color: white;
	font-family: initial;
	letter-spacing: -14px;
	text-align: center;
	margin: auto;
    display: inline-block;
    position: relative;
    z-index: 1;
}
.quote-heading h1::before {
	content: "";
	position: absolute;
	background-color: goldenrod;
	width: 357px;
	height: 3px;
	left: 50%;
	bottom: 309px;
	z-index: -1;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}
